* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: sans-serif;
}

body {
    display: flex;
    background-color: #2b2b2e;
}

div#fundo div {
    display: flex;
}

#icone {
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

#check {
    display: none;
    background-color: #f00;
}

.barra {
    background-color: #444c4c;
    height: 100%;
    width: 300px;
    position: absolute;
    top: 0px;
    left: -300px;
    transition: all .2s linear;
    -webkit-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
}

.barra .link {
    list-style: none;
}

nav {
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}

.link {
    color: #f4f4f9;
    font-family: 'Arial';
    text-align: center;
    font-size: 12pt;
    padding: 20px;
    transition: all .2s linear;
    opacity: 0;
    margin-top: 200px;
}

.link:hover {
    background-color: #2b2b2e;
}

#check:checked~.barra nav a .link {
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}

#check:checked~.barra {
    transform: translateX(300px);
}

.dsup {
    width: 270px;
    height: 100px;
    margin: 10px 10px;
    background-color: #444c4c;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #f4f4f9;
    -webkit-box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.77);
    box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.77);
    display: inline-block;
    position: relative;
    left: 40vh;
}

h2 {
    padding: 5px;
    color: #f4f4f9;
    position: relative;
    left: 43vh;
    top: 8px;
}

.dmed {
    background-color: #444c4c;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #f4f4f9;
    -webkit-box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.77);
    box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.77);
    display: inline-block;
    position: relative;
    left: 40vh;
    height: 250px;
}

#m1,
#m3 {
    width: 770px;
    margin: 10px 10px;
}

#m2,
#m4 {
    width: 377px;
    margin: 10px 10px;
}

.base_graf_Em_Busca {
    width: 400px;
    /*tamanho lateral do gráfico*/
    background-color: rgba(240, 248, 255, 0);
    height: 200px;
    position: relative;
    left: 22vh;
    top: -340px;
    /*altura do gráfico, proporcional a 10 itens*/
}

.Busca_nome {
    width: 15%;
    background-color: rgba(250, 235, 215, 0);
    height: 20px;
    /*se alterar altura, alterar também altura da tabela*/
    float: left;
    position: relative;
    left: 22vh;
    top: -200px;
}

.Busca_valor {
    width: 85%;
    background-color: rgba(173, 216, 230, 0);
    height: 20px;
    /*altura igual a da classe Busca_nome*/
    float: right;
    position: relative;
    left: 22vh;
    top: -200px;
}

.Busca_nome_centralizado {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 14px;
    color: #2b2b2e;
}

.insert_busca_width {
    background-color: rgb(134, 0, 243);
    height: 14px;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}