* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: sans-serif;
}

body {
    display: flex;
    background-color: #2b2b2e;
}

div#fundo div {
    display: flex;
}

#icone {
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

#check {
    display: none;
    background-color: #f00;
}

.barra {
    background-color: #444c4c;
    height: 100%;
    width: 300px;
    position: absolute;
    top: 0px;
    left: -300px;
    transition: all .2s linear;
    -webkit-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
}

.barra .link {
    list-style: none;
}

nav {
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}

.link {
    color: #f4f4f9;
    font-family: 'Arial';
    text-align: center;
    font-size: 12pt;
    padding: 20px;
    transition: all .2s linear;
    opacity: 0;
    margin-top: 200px;
}

.link:hover {
    background-color: #2b2b2e;
}

#check:checked~.barra nav a .link {
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}

#check:checked~.barra {
    transform: translateX(300px);
}

.dsup {
    width: 300px;
    height: 300px;
    display: inline-block;
}

#mensal {
    padding: 5px;
    background-color: #444c4c;
    border-radius: 5px;
    text-align: center;
    color: #f4f4f9;
    -webkit-box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.77);
    box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.77);
}

#hoje {
    padding: 5px;
    background-color: #444c4c;
    border-radius: 5px;
    text-align: center;
    color: #f4f4f9;
    -webkit-box-shadow: 7px 5px 3pxrgba(0, 0, 0, 0.77);
    -moz-box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.77);
    box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.77);
}