* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: sans-serif;
}

body {
    display: flex;
    background-color: #f2f2f2;
}

div#fundo div {
    display: flex;
}

#icone {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 25px;
    z-index: 1;
}

#superior {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #000066;
    height: 30px;
    width: 100%;
}

#check {
    display: none;
    background-color: #f00;
}

.barra {
    background-color: #000066;
    height: 100%;
    width: 300px;
    position: absolute;
    left: -300px;
    transition: all .2s linear;
}

.barra .link {
    list-style: none;
}

nav {
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}

.link {
    color: #f4f4f9;
    font-family: 'Arial';
    text-align: center;
    font-size: 12pt;
    padding: 20px;
    transition: all .2s linear;
    opacity: 0;
    margin-top: 200px;
}

.link:hover {
    background-color: #050542;
}

#check:checked~.barra nav a .link {
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}

#check:checked~.barra {
    transform: translateX(300px);
}